@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;

  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;

  --color-white: #fff;

  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;

  --color-danger: #b12c4d;
}

/* largura da barra */
.scrollbar::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* trilho da barra */
.scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* polegar (a parte que se move) */
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-blue-base rounded-full;
}

/* remove setas */
.scrollbar::-webkit-scrollbar-button {
  @apply hidden;
}

.loading-bar {
  animation: loadingBar 1s linear infinite;
  position: absolute;
}

@keyframes loadingBar {
  0% {
    left: -120px;
  }
  100% {
    left: 100%;
  }
}
